@import '~antd/dist/antd.css';

.h100 {
    height: calc(100vh - 64px);
}

.events {
    margin: 0;
    padding: 0;

}
.events > div {
    padding: 0 0 0 15px;
    margin: 0 0 5px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.events > div::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 0;
}
.events > div:nth-child(n)::before{
    background-color: #f4ad33;
}
.events > div:nth-child(2n)::before{
    background-color: #66c51e;
}
.events > div:nth-child(3n)::before{
    background-color: #e9474c;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
    height: 50px;
}
.error{
    color: #be2121;
}
.error-input {
    border: 1px solid #be2121;
}